@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

a{
    text-decoration: none 
}
.slides-holder__item_active img {
    rotate: 47deg;

    transition-duration:500ms;
}

svg:not(:root).svg-inline--fa {
    overflow: visible
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em
}

.svg-inline--fa.fa-lg {
    vertical-align: -.225em
}

.svg-inline--fa.fa-w-1 {
    width: .0625em
}

.svg-inline--fa.fa-w-2 {
    width: .125em
}

.svg-inline--fa.fa-w-3 {
    width: .1875em
}

.svg-inline--fa.fa-w-4 {
    width: .25em
}

.svg-inline--fa.fa-w-5 {
    width: .3125em
}

.svg-inline--fa.fa-w-6 {
    width: .375em
}

.svg-inline--fa.fa-w-7 {
    width: .4375em
}

.svg-inline--fa.fa-w-8 {
    width: .5em
}

.svg-inline--fa.fa-w-9 {
    width: .5625em
}

.svg-inline--fa.fa-w-10 {
    width: .625em
}

.svg-inline--fa.fa-w-11 {
    width: .6875em
}

.svg-inline--fa.fa-w-12 {
    width: .75em
}

.svg-inline--fa.fa-w-13 {
    width: .8125em
}

.svg-inline--fa.fa-w-14 {
    width: .875em
}

.svg-inline--fa.fa-w-15 {
    width: .9375em
}

.svg-inline--fa.fa-w-16 {
    width: 1em
}

.svg-inline--fa.fa-w-17 {
    width: 1.0625em
}

.svg-inline--fa.fa-w-18 {
    width: 1.125em
}

.svg-inline--fa.fa-w-19 {
    width: 1.1875em
}

.svg-inline--fa.fa-w-20 {
    width: 1.25em
}

.svg-inline--fa.fa-pull-left {
    margin-right: .3em;
    width: auto
}

.svg-inline--fa.fa-pull-right {
    margin-left: .3em;
    width: auto
}

.svg-inline--fa.fa-border {
    height: 1.5em
}

.svg-inline--fa.fa-li {
    width: 2em
}

.svg-inline--fa.fa-fw {
    width: 1.25em
}

.fa-layers svg.svg-inline--fa {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0
}

.fa-layers {
    display: inline-block;
    height: 1em;
    position: relative;
    text-align: center;
    vertical-align: -.125em;
    width: 1em
}

.fa-layers svg.svg-inline--fa {
    -webkit-transform-origin: center center;
    transform-origin: center center
}

.fa-layers-counter,
.fa-layers-text {
    display: inline-block;
    position: absolute;
    text-align: center
}

.fa-layers-text {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-origin: center center;
    transform-origin: center center
}

.fa-layers-counter {
    background-color: #ff253a;
    border-radius: 1em;
    color: #fff;
    height: 1.5em;
    line-height: 1;
    max-width: 5em;
    min-width: 1.5em;
    overflow: hidden;
    padding: .25em;
    right: 0;
    text-overflow: ellipsis;
    top: 0;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: top right;
    transform-origin: top right
}

.fa-layers-bottom-right {
    bottom: 0;
    right: 0;
    top: auto;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right
}

.fa-layers-bottom-left {
    bottom: 0;
    left: 0;
    right: auto;
    top: auto;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left
}

.fa-layers-top-right {
    right: 0;
    top: 0;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: top right;
    transform-origin: top right
}

.fa-layers-top-left {
    left: 0;
    right: auto;
    top: 0;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: top left;
    transform-origin: top left
}

.fa-lg {
    font-size: 1.33333em;
    line-height: .75em;
    vertical-align: -.0667em
}

.fa-xs {
    font-size: .75em
}

.fa-sm {
    font-size: .875em
}

.fa-1x {
    font-size: 1em
}

.fa-2x {
    font-size: 2em
}

.fa-3x {
    font-size: 3em
}

.fa-4x {
    font-size: 4em
}

.fa-5x {
    font-size: 5em
}

.fa-6x {
    font-size: 6em
}

.fa-7x {
    font-size: 7em
}

.fa-8x {
    font-size: 8em
}

.fa-9x {
    font-size: 9em
}

.fa-10x {
    font-size: 10em
}

.fa-fw {
    text-align: center;
    width: 1.25em
}

.fa-ul {
    list-style-type: none;
    margin-left: 2.5em;
    padding-left: 0
}

.fa-ul>li {
    position: relative
}

.fa-li {
    left: -2em;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: inherit
}

.fa-border {
    border: solid .08em #eee;
    border-radius: .1em;
    padding: .2em .25em .15em
}

.fa-pull-left {
    float: left
}

.fa-pull-right {
    float: right
}

.fa.fa-pull-left,
.fab.fa-pull-left,
.fal.fa-pull-left,
.far.fa-pull-left,
.fas.fa-pull-left {
    margin-right: .3em
}

.fa.fa-pull-right,
.fab.fa-pull-right,
.fal.fa-pull-right,
.far.fa-pull-right,
.fas.fa-pull-right {
    margin-left: .3em
}

.fa-spin {
    -webkit-animation: fa-spin 8s infinite linear;
    animation: fa-spin 8s infinite linear
}

.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8)
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.fa-rotate-90 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.fa-rotate-180 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.fa-rotate-270 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg)
}

.fa-flip-horizontal {
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

.fa-flip-vertical {
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1)
}

.fa-flip-horizontal.fa-flip-vertical {
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1)
}

:root .fa-flip-horizontal,
:root .fa-flip-vertical,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-rotate-90 {
    -webkit-filter: none;
    filter: none
}

.fa-stack {
    display: inline-block;
    height: 2em;
    position: relative;
    width: 2em
}

.fa-stack-1x,
.fa-stack-2x {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0
}

.svg-inline--fa.fa-stack-1x {
    height: 1em;
    width: 1em
}

.svg-inline--fa.fa-stack-2x {
    height: 2em;
    width: 2em
}

.fa-inverse {
    color: #fff
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}



.texto-gb {
    width: 80%;
    height: 10vh;
    margin: 0 auto;
    display: grid;
    /* background-color: red; */
    z-index: 2;
    /* text-transform: uppercase; */
    text-align: center;
    border-top: 1px solid #eee;
    margin-top: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.texto-gb .text-primary {
    font-size: 156px;
    font-weight: 700;
    margin-top: 3%;
    text-transform: uppercase;
    text-align: left;
    font-family: Helvetica, sans-serif;



}

p.description-primary {
    font-size: 1.4vw;
    line-height: 31px;
    font-family: Helvetica, sans-serif;
    margin-top: -12%;
}

.texto-gb .container-description-primary {
    width: 45%;
    /* height: 200%; */
    position: relative;
    margin-top: 30px;
    /* margin-left: 2.5%; */
    text-align: left;

}

.container-caroucel {
    width: 100%;
    padding: 6% 0 0;
    background-color: #131314;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.slider {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* padding: 20px; */
    /* margin-left: 273px; */
}

.circular-slider {
    width: 100%;
    height: 133vh;
    margin-left: -13px;
    margin-top: 32px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-color: #131314;
}

.circular-slider .wrapper {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 80px 0px 0px 40px;
    /* overflow: hidden; */
    transform: rotate(308deg);
}

.circular-slider .wrapper .controls__left,
.circular-slider .wrapper .controls__right,
.circular-slider .wrapper .controls__autoplay {
    position: absolute;
    z-index: 2;
    -webkit-transition: 2s all;
    -o-transition: 2s all;
    transition: 2s all;
}

.circular-slider .wrapper .controls__left .icon-wrapper,
.circular-slider .wrapper .controls__right .icon-wrapper,
.circular-slider .wrapper .controls__autoplay .icon-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #8EB8E5;
    font-size: 8.5em;
    opacity: 0;
    cursor: pointer;
}


.circular-slider .wrapper .controls__left,
.circular-slider .wrapper .controls__right {
    top: 27%;
    left: 727px;
}

.circular-slider .wrapper .controls__left {
    right: 662px;
    top: 357px;
    /* left: 0; */
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
}


.circular-slider .wrapper .controls__right {
    right: 0;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.circular-slider .wrapper .controls__autoplay {
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

#nome {
    color: #2590e7;
    
}

.circular-slider .wrapper .controls__autoplay_running .pause {
    display: block;
}

.circular-slider .wrapper .controls__autoplay_running .run {
    display: none;
}

.circular-slider .wrapper .controls__autoplay_paused .pause {
    display: none;
}

.circular-slider .wrapper .controls__autoplay_paused .run {
    display: block;
}

.circular-slider .wrapper .slides-holder {
    border-radius: 50%;
    border: 2px solid #d4d4d4;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.circular-slider .wrapper .slides-holder__item {
    width: 20vh !important;
    height: 20vh !important;
    border-radius: 50%;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    background-color: #222;
    -webkit-transition: .3s linear all;
    -o-transition: .3s linear all;
    transition: .3s linear all;
    -webkit-filter: brightness(70%);
    filter: brightness(45%);
}

.circular-slider .wrapper .slides-holder__item_active {
    width: 42vh !important;
    height: 42vh !important;
}

.circular-slider .wrapper .slides-holder__item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-user-select: none;
    /* transform: rotate(50deg); */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.circular-slider .wrapper .slides-holder__item_active {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    display: flex;
    margin: 200px;
    transform: translate(1.45212e-14px, -237.15px)
}

.slides-holder__item_active img {
    animation: roteteImg both;

    animation-duration: 0.1s;
}

.circular-slider .wrapper .descriptions {
    position: absolute;
    bottom: 0%;
    z-index: 1;
    transform: rotate(52deg);
    top: 877px;
    left: 711px;
    right: 11px;
    width: 47% !important;
    height: 9% !important;
}

.circular-slider .wrapper .descriptions__item {
    width: 37%;
    height: 0%;
    opacity: 0;
    margin-left: 40%;
    margin-bottom: -5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: opacity 0s 0s linear;
    -o-transition: opacity 0s 0s linear;
    transition: opacity 0s 0s linear;
}

.descriptions__item.descriptions__item_visible {
    text-align: left;
    display: block !important;
}

.circular-slider .wrapper .descriptions__item_visible {
    height: 100%;
    opacity: 1;
    margin: 0px 200px;
    margin-bottom: -5px;
    -webkit-transition: opacity .6s 0s linear;
    -o-transition: opacity .6s 0s linear;
    transition: opacity .6s 0s linear;
}

.circular-slider .wrapper .descriptions__item h1,
.circular-slider .wrapper .descriptions__item .description {
    font-family: Helvetica, sans-serif;
    color: white;
    text-align: left;
}

.circular-slider .wrapper .descriptions__item h1 {
    font-size: 700%;
    margin: 0;
    text-align: left;
}

.circular-slider .wrapper .descriptions__item .description {
    font-size: 188%;
    margin-top: 21px;
    /* padding: 0% 10%; */
    text-align: left;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow-y: hidden;
}

/*deve se colocar em outro arquivo*/

.controles2 {

    height: 100px;
    display: flex;
    position: relative;
    background-color: blueviolet;
    align-items: center;
    top: -23%;

}

.circular-slider .wrapper .controls__left2,
.circular-slider .wrapper .controls__right2,
.circular-slider .wrapper .controls__autoplay {
    position: absolute;
    z-index: 1;
    -webkit-transition: 2s all;
    -o-transition: 2s all;
    transition: 2s all;

}


.circular-slider .wrapper .controls__left2 .icon-wrapper,
.circular-slider .wrapper .controls__right2 .icon-wrapper,
.circular-slider .wrapper .controls__autoplay .icon-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #006ac0;
    font-size: 2.5em;
    opacity: 1;
    cursor: pointer;
}

.circular-slider .wrapper .controls__left2 {
    right: 6%;
    top: 100%;
    transform: rotate(55deg);
    /* left: 0; */
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 22%;
    /* right: 53px; */
    z-index: 2;

}

#teste {}


/* right */
.circular-slider .wrapper .controls__right2 {
    right: 37.5%;
    top: 109%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    z-index: 2;
}

/* outros arquivos */

@media screen and (max-width:1080px) {
    .slider {
        width: 100%;
        height: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        /* padding: 20px; */
        /* margin-left: 0; */

    }

    .circular-slider {
        width: 100%;
        height: 100vh;
        margin-left: 3px;

    }



}

.circular-slider .wrapper .descriptions__item_visible {
    height: 80%;
    opacity: 1;
    margin: 0px 200px;

}

.circular-slider .wrapper .descriptions__item h1 {
    font-size: 600%;
    padding-top: 0;
    text-align: left;
    ;
    /* font-family: 'Poppins', sans-serif;
        font-family: 'Rancho', cursive;
        font-family: 'Roboto', sans-serif; */
}

.controls__autoplay {
    display: none;
}

@media screen and (max-width:800px) {

    .circular-slider .wrapper .descriptions__item_visible {

        margin: -45px 0px 1px 100px;

    }

    .circular-slider .wrapper .controls__right2 {
        top: 95%;
        right: 55%;
    }


}